@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400..700&display=swap');

body {
    background-color: #1d2136;
    color: #f2f2f2;
    font-family:"Markazi Text", serif;
}

.header {
    font-size: 50px;
    text-align: center;
    margin-bottom: 50px;
}
/********************* Header ************************/

.logo_header h1 {
    font-size: 40px !important;
    font-weight: bold;
    color: #f2f2f2;
    font-family: 'Orbitron', sans-serif;
}
.header_container {
    width: 100%;
    background-color: #262c48;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    margin-bottom: 30px;
    max-height: 70px;
    position: sticky;
    top: 0;
    z-index: 2000;
}

.header_icons_container {
    display: flex;
    gap: 20px;
    font-size: 22px;
}

/********************* Info panel ************************/

.info_panel {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 70%;
    margin: 0 auto;
    gap: 15px;
    margin-bottom: 60px;
    text-align: center;
    line-height:24px;
}

.info_box {
    font-size: 22px;
    font-family:"Markazi Text", serif;
    padding: 20px;
    background-color: #303655;
    border-radius: 12px;
}

.info-text {
    font-weight: bold;
    font-size: larger;
}

/********************* time buttons ************************/

.time_buttons_container {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 20px;
}

.time-btn {
    padding: 10px 20px;
    border-radius: 6px;
    color: #f2f2f2;
    font-size: 17px !important;
    background-color: #303655;
    border-color: #303655;
    font-family:"Markazi Text", serif !important;
    box-shadow: none !important;
}

.time-btn.active {
    background-color: #575775;
}

/***************** graphs ******************************/

.graph_containers_total {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
    gap: 15px;
    overflow: hidden;
    margin-bottom: 70px;
}

.graph_container_line {
    flex: 6;
    min-width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #303655;
    padding: 5px;
    border-radius: 10px;
}
.graph_container_pie {
    flex: 3;
    min-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #303655;
    padding: 5px;
    border-radius: 10px;
}

#line_total_plot {
    width: 100%;
}
#pie_total_plot {
    width: 100%;
}

@media (max-width: 1700px) {
    .graph_container_pie .plotly .legend text {
        font-size: 12px !important;
    }
}
@media (max-width: 1550px) {
    .graph_container_pie .plotly .legend text {
        font-size: 10px !important;
    }
}

/********************* Table ************************/

.portfolio_details_h2 {
    text-align: center;
    margin-bottom: 60px;
    background-color: #272c47;
    border-radius: 8px;
    padding: 10px 17px;
    font-size: 32px;
}

.details_h2_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio_table_css .ag-theme-alpine {
    --ag-background-color: #303655;
    --ag-odd-row-background-color: #1f2236;
    --ag-foreground-color: #f2f2f2;
    --ag-header-height: 50px;
    --ag-header-foreground-color: #f2f2f2;
    --ag-header-background-color: #171819;
    --ag-font-size: 22px;
    --ag-font-family: "Markazi Text", serif;
    --ag-row-height: 50px;
    --ag-border-color: none;
}

.portfolio_table_css .ag-header-cell {
    font-weight: bold;
    font-size: 27px;
}

.portfolio_table_css .ag-cell {
    padding: 12px 8px;
    line-height: 1;
}

.portfolio_table_css .ag-row:hover {
    background-color: #373e63 !important;
}

.portfolio_table_css {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 50px;
}

.portfolio_table_css .ag-paging-panel {
    justify-content: center !important;
}

.portfolio_table_css 
.ag-cell[col-id="edit"], 
.ag-cell[col-id="delete"], 
.ag-cell[col-id="sell"],
.ag-cell[col-id="add"] {
    text-align: center;
    cursor: pointer;
}

/***************** Modal buttons ****************************/

.add_item_container {
    display: flex;
    justify-content: center;
    text-align: center;
}

.add_item_button {
    padding: 10px 20px;
    font-size: 23px;
    background-color: #303655;
    border-color: none !important;
}

.modal {
    z-index: 3000 !important;
}

.custom_model_css .modal-content {
    background-color: #1f1f2e !important;
    color: #f2f2f2 !important;
    border-radius: 15px !important;
    font-family: 'Markazi Text', serif !important; 
    font-size: 30px !important;
}

.custom_model_css .btn {
    font-family: 'Markazi Text', serif !important;
    color: #fff !important;
}

.alert_css {
    font-size: 25px;
    text-align: center;
    font-family:"Markazi Text", serif !important;
}

/****************** transaction history *********************/

.portfolio_transaction_history_h2 {
    text-align: center;
    margin-bottom: 20px;
    background-color: #272c47;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 30px;
}

.history_h2_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.portfolio_history_table_css .ag-theme-alpine {
    --ag-background-color: #303655;
    --ag-odd-row-background-color: #1f2236;
    --ag-foreground-color: #f2f2f2;
    --ag-header-height: 50px;
    --ag-header-foreground-color: #f2f2f2;
    --ag-header-background-color: #171819;
    --ag-font-size: 22px;
    --ag-font-family: "Markazi Text", serif;
    --ag-row-height: 50px;
    --ag-border-color: none;
}

.portfolio_history_table_css .ag-header-cell {
    font-weight: bold;
    font-size: 27px;
}

.portfolio_history_table_css .ag-cell {
    padding: 12px 8px;
    line-height: 1;
}

.portfolio_history_table_css .ag-row:hover {
    background-color: #373e63 !important;
}

.portfolio_history_table_css {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 50px;
}

.portfolio_history_table_css .ag-paging-panel {
    justify-content: center !important;
}

/************************* footer ***************************/

.footer_container {
  width: 100%;
  background-color: rgb(27, 25, 38);
  color: #f2f2f2;
  text-align: center;
  padding: 15px 0;
  font-size: 22px;
  font-family:"Markazi Text", serif;
  margin-top: 40px;
  border-top: 1px solid rgba(255,255,255,0.1);
}

.footer_container .footer-link {
  color: #66b2ff;
  text-decoration: none;
  font-weight: 500;
}

.footer_container .footer-link:hover {
  text-decoration: underline;
  color: #99ccff;
}
