@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400..700&display=swap');

body {
    background-color: #1d2136;
    color: #f2f2f2;
    font-family:"Markazi Text", serif;
}

.header {
    font-size: 70px;
    text-align: center;
    margin-bottom: 100px;
}
/********************* Info panel ************************/

.info_panel {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 70%;
    margin: 0 auto;
    gap: 15px;
    margin-bottom: 80px;
}

.info_box {
    font-size: 30px;
    font-family:"Markazi Text", serif;
    padding: 20px;
    background-color: #303655;
    border-radius: 12px;
}

/********************* time buttons ************************/

.time_buttons_container {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 20px;
}

.time-btn {
    padding: 10px 20px;
    border-radius: 6px;
    color: #f2f2f2;
    font-size: 16px;
    font: bolder;
    background-color: #303655;
    border-color: #303655;
    box-shadow: none !important;
}

.time-btn.active {
    background-color: #575775;
}

/***********************************************/

.graph_containers_total {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
    gap: 15px;
    overflow: hidden;
}

.graph_container_line {
    flex: 6;
    min-width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #303655;
    padding: 5px;
    border-radius: 10px;
}
.graph_container_pie {
    flex: 3;
    min-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #303655;
    padding: 5px;
    border-radius: 10px;
}

#line_total_plot {
    width: 100%;
}
#pie_total_plot {
    width: 100%;
}

/********************* Table ************************/

.table_style_container {
    background-color: none;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column !important;
    font-family: 'Markazi Text', serif !important;
    font-size: 30px !important;
    margin-bottom: 50px;
    margin-top: 50px;
}

.portfolio_table_css {
    overflow: hidden !important;
    width: 90%;
    border-color: white;

}

.portfolio_table_css .dash-cell{
    background-color: #292e48 !important;
    color: #f2f2f2 !important;
    padding: 5px !important;
    font-family: 'Markazi Text', serif !important;
    text-align: left !important;
}

.portfolio_table_css .dash-header {
    background-color:#1f1f2e !important;
    color:#f2f2f2 !important;
    font-weight: bold !important;
    font-family: 'Markazi Text', serif !important;
    text-align: left !important;
}