@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400..700&display=swap');

body {
    background-color: #1d2136;
    color: #f2f2f2;
    font-family:"Markazi Text", serif;
}

.header {
    font-size: 70px;
    text-align: center;
}

.graph_container_total {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: auto;
    margin-bottom: 50px;
}

#line_total_plot {
    width: 60%;
}
#pie_total_plot {
    width: 30%;
}

/********************* Table ************************/

.table_style_container {
    background-color: none;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column !important;
    font-family: 'Markazi Text', serif !important;
    font-size: 30px !important;
    margin-bottom: 50px;
    margin-top: 50px;
}

.portfolio_table_css {
    overflow: hidden !important;
    width: 90%;
    border-color: white;

}

.portfolio_table_css .dash-cell{
    background-color: #303655 !important;
    color: #f2f2f2 !important;
    padding: 5px !important;
    font-family: 'Markazi Text', serif !important;
    text-align: left !important;
}

.portfolio_table_css .dash-header {
    background-color:#1f1f2e !important;
    color:#f2f2f2 !important;
    font-weight: bold !important;
    font-family: 'Markazi Text', serif !important;
    text-align: left !important;
}

.button_load_more {
    display: flex;
    text-align: center;
    justify-content: center;
}